<div class="panel panel-default">
    <div class="panel-heading" [style.color]="fontColor">
        <h4>{{ componentTitle }}</h4>
    </div>

    <div class="panel panel-body">
        Lorem ipsum
    </div>
</div>
<hr>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6"><root-login></root-login></div>
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Countries Panel
                </div>
                <div class="panel-body">
                    <countries></countries>
                </div>
            </div>
            
        </div>
    </div>
</div>