<div class="row">
    <div class="col-md-6">
        <h4>Countries</h4>
        <div class="list-group">
            <a 
              class="list-group-item" 
              *ngFor="let country of countries" 
              style="cursor: pointer;" 
              [class.active]="selectedCountry === country"
              (click)="onCountrySelected(country)"
              >
              {{country}}
            </a>
        </div>
        <p>Selected Country: {{ selectedCountry }}</p>
        <p>Selected City: {{ selectedCity }}</p>
    </div>
    <div class="col-md-6">
        <cities [country]="selectedCountry" (selectedCity)="onCitySelected($event)"></cities>
    </div>
</div>
