<div class="container-fluid">
    <div class="row">
        <div class="col-xs-2">
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation" routerLink="/codecraft" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a>Components</a></li>
                <li role="presentation" routerLink="built-in-directives" routerLinkActive="active"><a>Built-in directives</a></li>
                <li role="presentation" routerLink="custom-directives" routerLinkActive="active"><a>Custom directives</a></li>
              </ul>
        </div>
        <div class="col-xs-10">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>