<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Books</a>
        </div>
        <ul class="nav navbar-nav">
            <li routerLink="/books/all" routerLinkActive="active">
                <a>All Books [REST]</a>
            </li>
            <li routerLink="/books/search" routerLinkActive="active">
                <a>Search Book [REST]</a>
            </li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>